@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* APP */
.App {
  text-align: center;
  font-family: $font-stack;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $black;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* CARDS */
.Card{
    background-color: $black;
    border: 1px solid red;
}
// .TileEditOverlay {
//   user-select: none;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   &:hover {
//     opacity: 1;
//     background-color: #0004;
//     backdrop-filter: blur(4px);
//   }
// }
.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}


/* ANIMATIONS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
