@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* APP */
.App {
  //text-align: center;
  font-family: $font-stack;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100vh;
}

.Background
{
  position: fixed;
  z-index: -1;
  background-image: url(bike.jpg);
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.color{
  opacity: 0;
  .color:hover{
    opacity: 1;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  //background-color: $black;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Edit{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

}
.EditHeader{
  max-height: 0;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  transform: translate(0, -3rem);
  box-shadow: 0 0 .5rem 0;
  transition: .5s ease-in;
  &.editHeaderVis{
    transform: translate(0, 0);
    max-height: 30rem;
  }
  
}

/* TILE CONTAINER */
.TileContainer {
  position: fixed;
  top: 0;
  left: 0;
  &:hover {
    z-index: 10;
  }
}
.tileSnapPreview {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 0.25rem dashed $black;
  background-color: rgba(128, 128, 128, 0.5);
}

/* CARD TILES */
.TileContainer > .Card {
  opacity: 0.9;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  &:hover {
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
  }
}

.CloseButton {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
}

.CloseButton:hover{
    opacity: 1; 
    background-color: #ff0000;
}

.addTask{
  width: 25%;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
}

.inputbar{
  width: 75%;
  padding: 5px;
  float: left;
}

.taskItems{
  cursor: pointer;
  position: relative;
  background: #eee;
}

.task{
  text-align: left;
}

.task:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02);
  z-index: 1;
}

.colorSwab{
  border-left: 1.5rem solid black;
  padding-left: 0.25rem;
}



/* ANIMATIONS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
