.EditHeader {
    transition: max-height 0.3s ease;
    background-color: $black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    max-height: 0;
    display: flex;
    justify-content: flex-start;
    
    & > * {
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &.canEdit {
        overflow: visible;
        max-height: 3rem;

        & > * {
            opacity: 1;
        }
    }

    & > * {
        height: 100%;
        padding: 0.6rem 1rem;
        color: white;
        width: auto;
        font-size: 1.25rem;
    }
}

.EditHeaderDropdown,
.HeaderLabel {
    & > .dropdown > .dropdown-toggle,
    & > .dropdown-toggle {
        font-size: 1.25rem;
        & > :hover {
            color: black;
        }
    }
}

.HeaderToggleSnap {
    transform: translate(0, 0.05rem);
    & > label {
        margin-right: 0.75rem;
    }
}

.BackgroundPicker {
    margin: 1rem;
}

.ColorPicker {
    margin: auto;
    bottom: 0.5rem;
}

.EditModeToggler {
    position: fixed;
    height: 3rem;
    width: 3rem;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
}



.EditModeTogglerPointer {
    position: fixed;
    height: 6rem;
    width: auto;
    top: 2.5rem;
    right: 3rem;
    z-index: 99;
}

.EditModeAddTilesPointer {
    position: fixed;
    height: 6rem;
    width: auto;
    top: 2.5rem;
    left: 3rem;
    z-index: 99;
}

.btn-OnStyle {
    background-color: $turqoise;

    color: $white; 

}

.btn-OffStyle {
    background-color: $blue;
    color: $white;

    & > :hover {
    }
}

.outline-white{
    outline: $white
}

.switch-group {
    & > .switch-handle {
        background-color: #fff;
        color: #fff;
    }

    & > .switch-on {
        color: $white;
    }

    & > .switch-off {
        color: $white;
    }
}

.logout {
    background-color: rgb(75, 75, 75);
    border-color: white;
    float: right;
    margin-right: 3rem;
    display: auto;
}
.logout:hover {
    background-color: white;
    color: black;
}
