$text-header-size: 1.1rem;

.EditHeader {
    transition: max-height 0.3s ease;
    background-color: $black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    &.canEdit {
        overflow: visible;
        max-height: 10rem;

        & > * {
            opacity: 1;
        }
    }

    & > * {
        height: 100%;
        padding: 0.6rem 1rem;
        color: white;
        width: auto;
        font-size: $text-header-size;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    & > label {
        margin-right: -1.1rem;
    }
}

.EditHeaderDropdown,
.HeaderLabel {
    & > .dropdown > .dropdown-toggle,
    & > .dropdown-toggle {
        font-size: $text-header-size;
        & > :hover {
        }
    }
}

.HeaderToggleSnap {
    transform: translate(0, 0.05rem);
}

.BackgroundPicker {
    margin: 1rem;
}

.ColorPicker {
    margin: auto;
    bottom: 0.5rem;
}

.EditModeToggler {
    position: fixed;
    height: 3.25rem;
    width: 3.75rem;
    padding: 0.75rem;
    top: 0;
    right: 0;
    z-index: 100;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    filter: drop-shadow(0.125rem 0.125rem 0.15rem rgba(0, 0, 0, 0.4));
    cursor: pointer;
    & > path {
        fill: none;
        stroke: white;
        stroke-width: 0.75rem;
        transition: 0.5s;
    }
    & > .line1,
    > .line2 {
        stroke-dasharray: 80 183;
        stroke-dashoffset: 0;
    }
    & > .line3 {
        stroke-dasharray: 80 80;
        stroke-dashoffset: 0;
    }
}
.EditModeToggler.canEdit {
    & .line1,
    .line2 {
        stroke-dasharray: 103 183;
        stroke-dashoffset: -80;
    }
    & .line3 {
        stroke-dasharray: 0 60;
        stroke-dashoffset: -40;
    }
}

.EditModeTogglerPointer {
    position: fixed;
    height: 6rem;
    width: auto;
    top: 2.5rem;
    right: 3rem;
    z-index: 99;
}

.EditModeAddTilesPointer {
    position: fixed;
    height: 6rem;
    width: auto;
    top: 2.5rem;
    left: 3rem;
    z-index: 99;
}

.btn-OnStyle {
    background-color: $turqoise;

    color: $white;
}

.btn-OffStyle {
    background-color: $blue;
    color: $white;
}

.switch-group {
    & > .switch-handle {
        background-color: #fff;
        color: #fff;
    }

    & > .switch-on {
        color: $white;
    }

    & > .switch-off {
        color: $white;
    }
}

.editHeaderButton {
    background-color: white;
    border-color: white;
    color: black;
    float: right;
    padding: 0.2rem 0.5rem;
    display: auto;
}
.editHeaderButton:hover {
    background-color: white;
    color: black;
}

.rightHeader {
    margin-left: auto;
    margin-right: 3rem;
}

@media only screen and (max-width: 800px) {
    .rightHeader {
        margin-left: unset;
    }
}

.feedbackButton {
    margin-right: 1rem;
}
