.HoverDropdown {
    cursor: pointer;
    width: 100%;
    z-index: 100;

    & > .dropend > .dropdown-toggle,
    & > .dropdown > .dropdown-toggle,
    & > .dropdown-toggle {
        background: none;
        border: none;
        width: 100%;
        margin: auto;
        padding: 0;

        &:after {
            content: "";
            display: none;
        }

        & img {
            width: 2rem;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & > .dropdown-menu {
        margin: auto;
        padding: 0;
    }
}
.HoverDropdownItem {
    user-select: none;
    padding: 0.25rem 0.6rem;
    cursor: pointer;
    &:hover {
        background-color: #ddd;
    }
}
.HoverDropdownDiv {
    height: 0.05rem;
    margin: 0.5rem 1rem;
    background-color: #222;
}

.NestedHoverDropdown {
    padding: 0.25rem 0.6rem;

    &:hover {
        background-color: #ddd;
    }

    & > .dropend > .dropdown-toggle {
        color: #222;
        text-align: left;
        background: none;
        border: none;
        width: 100%;
        margin: auto;
        padding: 0;
    }
}
