@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* TILE CONTAINER */
.TileContainer {
    position: absolute;
    top: 1vw;
    left: 1vw;
    &:hover {
      z-index: 10;
    }
  }
  .tileSnapPreview {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 0.25rem dashed $black;
    background-color: rgba(128, 128, 128, 0.5);
  }
  .tileDragArea {
    min-height: 100vh;
    position: relative;
  }
  
  /* CARD TILES */
  .TileContainer > .Card {
    background-color: #ffffffe6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    &:hover {
      background-color: #ffffffff;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      // transform: scale(1.02);
      // box-shadow: 0 0 1px 3px #fff8;
    }
  }
  
  .TileControls {
    position: absolute;
    top: 0;
    right: 0;
    // opacity: 0.5;
    // &:hover {
      // opacity: 1.0;
    // }
  }