@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* TILE CONTAINER */
.TileContainer {
  position: absolute;
  top: 1vw;
  left: 1vw;
  &:hover {
    z-index: 10;
  }
}
.TileContainer > .Card {
  background-color: #ffffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.TileEditButton {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.input {
    width: 100%;
}
