@import "variables.scss";

$editModeStatusColor: #00ffff;

.UserPage {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
#tileDragArea {
    position: relative;
}
.tileScrollArea {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s;
    &.canEdit {
        height: calc(100vh - 3rem);
        & > #editModeStatus {
            height: calc(100vh - 3rem);
            border-color: $editModeStatusColor;
            top: 3rem;
            z-index: 15;
            & > div {
                opacity: 1;
            }
        }
    }
    & > #tileDragArea.canEdit > #extraDragSpace {
        max-height: calc(100vw + 100vh);
    }
}
#editModeStatus {
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    border: 0.25rem solid transparent;
    transition: 0.3s;
    pointer-events: none;
    & > div {
        font-size: 2rem;
        text-align: right;
        color: $editModeStatusColor;
        font-weight: bold;
        position: fixed;
        left: calc(100vw - 11rem);
        bottom: 0;
        transition: 0.3s;
        opacity: 0;
    }
    & > div:after {
        content: "";
        animation: ellipsis 1.5s infinite;
    }
}
@keyframes ellipsis {
    0% {
        content: "   ";
    }
    25% {
        content: ".  ";
    }
    50% {
        content: ".. ";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}
#dragSpace,
.extraDragSpace {
    width: 100%;
    transition: 1s ease;
    z-index: -10;
}
.extraDragSpace {
    height: 200vh;
    max-height: 0;
    &.canEdit {
        max-height: 200vh;
    }
}
