@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$black: #000000;
$white:  #ffffff;
$green: #5CDB95;
$turqoise: #379683;
$blue: #05386B;
$font-stack: "Montserrat";