.noteTile {
    padding: 0;
    & > textarea {
        background: none;
        margin: 0;
        width: 100%;
        min-height: 10rem;
        max-height: 40rem;
        height: 100%;
        padding: 1.5rem;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 1.5rem;
        border: none;
        overflow: auto;
        outline: none;
    }
}

.fontWhite > .noteTile > textarea {
    color: white;
}
