@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.addTask {
    width: 25%;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
}

.ToDoListCloseButton {
    position: absolute;
    top: 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    right: 0.25rem;
    &:hover {
        background-color: red;
    }
}

.ToDoInputGroup {
    display: grid;
    grid-template-columns: calc(100% - 4rem) 4rem;
    & > input {
        padding: 0.25rem 0.25rem;
    }
}

.taskItems {
    cursor: pointer;
    position: relative;
    background: #eee;
}

.task {
    text-align: left;
    &.completed {
        text-decoration: line-through;
    }
}

.task:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    z-index: 1;
}

.fontWhite > div > div > div > .ToDoListTitle {
    color: white;
}